{% extends 'base.html.twig' %}

{% block title %}Hello PokemonCrudController!
{% endblock %}

{% block body %}
	<h1>Liste des Pokémons</h1>

	{% if is_granted('ROLE_ADMIN') %}
		<p>
			<a href="{{ path('app_pokemon_create') }}">Ajouter un pokémon</a>
		</p>
	{% endif %}

	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in pokemons %}
				<tr>
					<td>{{ pokemon.num }}</td>
					<td>{{ pokemon.nom }}</td>
					<td>
						{{ pokemon.type1.nom }}
						{% if pokemon.type2 is not null %}
							/
							{{ pokemon.type2.nom }}
						{% endif %}
					</td>
					<td>
						<a href="{{ path('app_pokemon_details', { pokemon: pokemon.id }) }}">Voir</a>

						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_pokemon_update', { pokemon: pokemon.id }) }}">Modifier</a>
							<a href="{{ path('app_pokemon_delete', { pokemon: pokemon.id, csrf: csrf_token('delete-pokemon-' ~ pokemon.id) }) }}">Supprimer</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun Pokémon trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
